@font-face{
  font-family: 'Gilroy Light';
  src: url(/asset/fonts/Gilroy-Light.woff2) format('woff2'), url(/asset/fonts/Gilroy-Light.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url(/asset/fonts/Gilroy-ExtraBold.woff2) format('woff2'), url(/asset/fonts/Gilroy-ExtraBold.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --base-text-color: #000000;
  --ligth-bg-text-color: #FFFFFF;
  --btn-bg-color: #F9B300;
  --bg-select-color: #FFF7E1;
  --btn-hover-text: #E2A300;
  --form-color:#F9F9F9;
  /* --: #C4C4C4
  --: ##FCFCFC
  --: ##F3F3F3
  --: ##C9C9C9 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Gilroy Light';
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.h1 {
  margin: 0;
  font-family: 'Gilroy Bold';
  font-size: 5rem;
  line-height: 120%;
  color: var(--base-text-color);
}

.text {
  font-size: 25px;
  line-height: 130%;
  color:  var(--base-text-color);
}

.text-bold {
  font-family: 'Gilroy Bold';
}

.list-reset {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteiner{
  max-width: 1904px;
  width: 100%;
  padding: 0 122px;
  margin: 0 auto;
}

.btn {
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  color: var(--ligth-bg-text-color);
  font-size: 30px;
  font-weight: 700;
  padding: 22px 56px;
}

.header {}

.header__row {
  display: flex;
  align-items: center;
  padding: 90px 0;
}

.header__logo {
  flex-shrink: 0;
}

.logo {
  height: 116px;
}

.header__navigation {
  margin-left: auto;
  margin-right: auto
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin-right: 100px;
}

.menu__item:last-child {
  margin-right: auto;
}

.menu__link {
  display: inline;
  align-items: center;
  font-size: 1,5625rem;
  line-height: 130%;
  color: var(--base-text-color);
}

.menu__link:hover {
  border-bottom: 2px solid var(--btn-bg-color);
}

.header__function {
  margin-left: auto;
}

.function {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 31px;
}

.function__btn {
  border: none;
  background: transparent;
}

.function button {
  margin-right: 53px;
}

.function button:last-child {
  margin-right: 0;
}

.function__btn svg {}

.function__btn:hover svg {
  fill: var(--ligth-bg-text-color);
}

.first-screen {}

.first-screen__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.first-screen__ellipse {
  display: flex;
  justify-content: right;
  height: 20px;
}

.first-screen__ellipse svg{
  margin-left: 30px;
}

.first-screen__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-screen__title {
  z-index: 1;
  max-height: 960px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.first-screen__text {
  padding: 11px;
  margin-top: 60px;
  margin-bottom: 112px;
}

/* !!! */
.first-screen__img {
  position: absolute;
}
/* !!! */

.products {

}
