@font-face {
  font-family: 'Gilroy Light';
  src: url(/asset/fonts/Gilroy-Light.woff2) format('woff2'), url(/asset/fonts/Gilroy-Light.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url(/asset/fonts/Gilroy-ExtraBold.woff2) format('woff2'), url(/asset/fonts/Gilroy-ExtraBold.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --base-text-color: #000000;
  --ligth-bg-text-color: #FFFFFF;
  --btn-bg-color: #F9B300;
  --bg-select-color: #FFF7E1;
  --btn-hover-text: #E2A300;
  --form-color: #F9F9F9;
  --comment-color: #5B5B5B;
  --price-color: #C6C6C6;
  --form-color: #F3F3F3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Gilroy Light';
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.h1 {
  margin: 0;
  font-family: 'Gilroy Bold';
  font-size: 5rem;
  line-height: 120%;
  color: var(--base-text-color);
}

.h2 {
  margin: 0;
  font-family: 'Gilroy Bold';
  font-size: 3.125rem;
  line-height: 120%;
  color: var(--base-text-color);
}

.h3-1 {
  margin: 0;
  font-family: 'Gilroy Bold';
  font-size: 1.5625rem;
  line-height: 120%;
  color: var(--base-text-color);
}

.h3-2 {
  margin: 0;
  font-family: 'Gilroy Bold';
  font-size: 1.875rem;
  line-height: 120%;
  color: var(--base-text-color);
}

.text {
  font-size: 1.5625rem;
  line-height: 130%;
  color: var(--base-text-color);
}

.text-bold {
  font-family: 'Gilroy Bold';
}

.list-reset {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: var(--btn-bg-color);
  color: var(--ligth-bg-text-color);
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
  background-color: var(--btn-hover-text);
  cursor: pointer;
}

.select {
  background-color: var(--bg-select-color);
  border-radius: 5px;
  border: 1px solid var(--btn-bg-color);
  color: var(--base-text-color);
}

.more {
  color: var(--base-text-color);
  transition: 0.3s ease-in-out;
}

.select:hover,
.search__btn:hover,
.function__btn:hover,
.more:hover,
.inst__btn:hover,
.discounts-cards__btn:hover,
.discounts-btn__left:hover,
.discounts-btn__right:hover,
.products-card__btn:hover {
  cursor: pointer;
}

.more:hover,
.more:active {
  background: #F9F9F9;
  border-radius: 30px;
  color: var(--btn-bg-color);
  padding: 10px 24px;
}

/* --- HEADER --- */

.header__row {
  display: flex;
  align-items: center;
  padding: 22px 0 90px 0;
}

.header__logo {
  flex-shrink: 0;
}

.logo {
  height: 116px;
}

.nav {
  font-size: 1.5625rem;
}

.header__navigation {
  margin-left: auto;
  margin-right: auto
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin-right: 100px;
}

.menu__item:last-child {
  margin-right: auto;
}

.menu__link {
  display: inline;
  align-items: center;
  font-size: 1.5625rem;
  line-height: 130%;
  color: var(--base-text-color);
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.menu__link:hover {
  border-bottom: 2px solid var(--btn-bg-color);
}

.header__function {
  margin-left: auto;
}

.function {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.function__btn {
  background: transparent;
  border: none;
  margin-right: 53px;
}

.function__btn:last-child {
  margin-right: 0;
}

.function__btn svg {
  height: auto;
  width: 31px;
}

/* SEARCH */

.search {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.search__form {
  position: relative;
  width: 1240px;
  margin: 0 auto;
}

.search__input {
  width: 100%;
  height: 59px;
  background: var(--ligth-bg-text-color);
  padding-left: 79px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
}

.search__btn {
  border: none;
  position: absolute;
  top: 10px;
  left: 27px;
  background: transparent;
}

.search__btn svg {
  height: 31px;
  width: 32px;
}

/* --- FIRST SCREEN --- */

.first-screen__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 900px;
  height: 1912px;
}

.first-screen__ellipse {
  display: flex;
  justify-content: right;
}

.first-screen__ellipse svg {
  margin-left: 30px;
  height: 20px;
  width: 20px;
}

.first-screen__row {
  display: flex;
  flex-direction: row;
}

.first-screen__title {
  position: relative;
  z-index: 1;
  max-width: 960px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}

.first-screen__text {
  margin-top: 60px;
  margin-bottom: 112px;
  max-width: 658px;
}

.first-screen__btn {
  max-width: 400px;
  max-height: 80px;
  padding: 22px 0;
  text-align: center;
  font-size: 1.875rem;
}

.first-screen__img {
  position: relative;
  width: 899px;
}

.col2 {
  width: 960px;
}

.col3 {
  position: absolute;
  margin-left: 650px;
}

.col {
  display: flex;
  flex-direction: column;
}

/* --- КАТАЛОГИ НАШЕЙ ПРОДУКЦИИ --- */

.products__bg {
  position: absolute;
  top: inherit;
  left: 0;
  z-index: -1;
  height: 1348px;
  width: 510px;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 276px;
}

.products__title {
  margin-bottom: 83px;
}

.products__cards {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.products-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 400px;
  height: 539px;
  padding: 60px 35px 145px 35px;
  border-radius: 20px;
  background-color: var(--ligth-bg-text-color);
  box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
}

.products-card a {
  padding: 15px 124px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.products-card figure>img {
  max-height: 278px;
  max-width: 295px;
  transition: 0.5s ease-in-out;
}

.card__title {
  text-align: center;
  font-size: 1.5625rem;
  transition: font-weight 0s ease-in-out,
    font-size 0s ease-in-out,
    transform 0.5s ease-in-out;
}

.card2__img {
  transition: 0.5s ease-in-out;
}

.products-card:hover figure {
  transform: translateY(-98px);
}

.products-card:hover h3 {
  font-weight: 700;
  font-size: 1.875rem;
  transform: translateY(-36px);
}

.products-card:hover a {
  opacity: 1;
  position: static;
  pointer-events: auto;
}

/* --- ТОВАРЫ СО СКИДКОЙ --- */

.discounts {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}

.discounts__decor {
  position: absolute;
  z-index: 100;
  width: 674px;
  height: 674px;
  top: 1750px;
  pointer-events: none;
}


.discounts__decor img {
  top: 0;
}

.discounts__row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.discount-row {
  display: flex;
  align-items: center;
}

.discounts__text {
  max-width: 1107px;
  text-align: right;
}

.discount-row {
  display: flex;
  justify-content: flex-end;
  column-gap: 70px;
}

.discounts-cards {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.discount-card {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  position: relative;
  width: 400px;
  padding: 21px 37px 50px 38px;
  border-radius: 20px;
  background-color: var(--ligth-bg-text-color);
  box-shadow: 0px 0px 20px rgba(146, 146, 146, 0.25);
}

.discount-card__row {
  display: flex;
  justify-content: space-between;
}

.card-row {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

.discount-card__icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: -35px;
  width: 70px;
  height: 70px;
}

.discount-card__select {
  position: relative;
  z-index: 150;
  margin-top: 21px;
  margin-left: 60%;
  padding: 6px 30px;
  max-width: 132px;
  max-height: 33px;
  font-size: 18px;
}

.discount {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--btn-bg-color);
}

.discount-card__img {
  width: 172px;
  height: 311px;
}

.inf__row1 {
  width: 133px;
  height: 25px;
}

.inf__row2 {
  display: flex;
  align-items: baseline;
}

.inf__row3 {
  width: 127px;
  height: 19px;
}

.inf__rating {
  margin-right: 7px;
  font-weight: 700;
  font-size: 1.25rem;
}

.inf__comment {
  color: var(--comment-color);
  font-size: 0.875rem;
}

.inf__row3 {
  margin-top: 0;
}

.inf__row4 p {
  font-size: 1.125rem;
}

.inf__row4 svg {
  width: 127px;
  height: 10px;
}

.discount-card__title {
  margin-top: 36px;
  font-size: 1.5625rem;
}

.discount-card__text {
  margin: 10px 52px 0 0;
  font-size: 1.125rem;
}

.discount-card__price {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.discount-card__price1 {
  color: var(--price-color);
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 116%;
  text-decoration: line-through;
  margin: 0;
}

.discount-card__price2 {
  color: var(--base-text-color);
  font-size: 2.1875rem;
  line-height: 120%;
  margin: 0;
}

.discount-card__btn {
  width: 178px;
  height: 48px;
  font-size: 1.125rem;
  line-height: 120%;
  padding: 13px 46px;
}

.discounts-btn__left,
.discounts-btn__right {
  background: transparent;
  border: none;
}

.discounts-btn__left {
  margin-right: 70px;
}

.discounts-btn__right {
  margin-left: 70px;
}

.discounts-btn__left svg,
.discounts-btn__right svg {
  width: 70px;
  height: 70px;
}

.discounts-cards__btn {
  background: transparent;
  border: none;
}

.discounts-cards__more {
  display: flex;
  justify-content: right;
  margin-top: 58px;
  text-align: right;
  text-decoration: underline;
  color: var(--base-text-color);
}

.discounts-cards__more a {
  padding: 10px 24px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
}

/* --- ПОЧЕМУ СТОИТ РАБОТАТЬ ИМЕННО С НАМИ? --- */

.benefits {
  margin-top: 117px;
  background: url(/asset/img/benefits/Group\ 247.svg) 100% 100%;
  background-position: top;
  background-size: 100%;
}

.benefits__title {
  max-width: 585px;
  font-weight: 900;
  font-size: 3.125rem;
  line-height: 120%;
  margin-bottom: 80px;
}

.benefits__col {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.benefits__img {
  max-width: 755px;
}

.benefits__row {
  display: flex;
  justify-content: space-between;
  max-width: 590px;
}

.benefits__icon {
  margin-right: 50px;
}

.benefits__icon svg {
  width: 84px;
  height: 84px;
}

.benefit-title {
  font-weight: 700;
  font-size: 1.875rem;
}

.benefits__text {
  max-width: 531px;
  font-size: 1.5625rem;
}

/* --- КАК МЫ ОБЖАРИВАЕМ КОФЕ --- */

.coffee-roasting {
  background: url(/asset/img/roasting/Vector.svg), url(/asset/img/roasting/Vector2.svg), url(/asset/img/roasting/bg.jpg);
  background-position: top, bottom, center;
  background-size: 100%, 100%, cover;
  background-repeat: no-repeat;
  padding: 193px 0 211px 0;
}

.coffee-roasting__title {
  color: var(--ligth-bg-text-color);
}

.coffee-roasting__text {
  color: var(--ligth-bg-text-color);
  margin-top: 100px;
  max-width: 1246px;
}

.coffee-roasting__btn {
  margin-top: 122px;
}

.coffee-roasting__btn a {
  padding: 22px 67px;
}

/* --- НОВОСТИ КОМПАНИИ --- */

.news {
  margin-top: 36px;
  background: url(/asset/img/news/Group\ 249.svg);
  background-position: top;
  background-size: 100%;
}

.news-cards {
  margin-top: 60px;
}

.news__row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.news__more a {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: right;
  text-decoration: underline;
  color: var(--base-text-color);
}

.news__more {
  padding: 10px 24px;
}

.news-cards__row {
  display: flex;
  justify-content: space-between;
}

.news-card {
  position: relative;
  margin: 20px;
  max-height: 400px;
  border-radius: 20px;
  background-color: var(--ligth-bg-text-color);
  box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2)
}

.type1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 960px;
}

.news-card__col1 {
  overflow: hidden;
  border-radius: 20px 0 0 20px;
}

.news-card__img {
  position: relative;
  height: 100%;
}

.news-card__img img {
  height: 100%;
}

.news-card__col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 81px 30px 84px;
}

.news-card__title {
  font-weight: 700;
  line-height: 130%;
  font-size: 1.5625rem;
}

.news-card__text p {
  font-size: 1.25rem;
  line-height: 130%;
}

.news-card__more a {
  color: var(--btn-bg-color);
  font-size: 1.25rem;
  line-height: 120%;
}

.news-card__more {
  /* Здесь закончила */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  max-width: 190px;
  border-radius: 30px;
  margin-left: -24px;
  transition: background-color 0.3s ease-in-out;
}

.news-card__more:hover {
  background-color: #F9F9F9;
  padding: 10px 24px;
  border-radius: 30px;
}

.type2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 680px;
  padding: 62px 112px 62px 140px;
}

.type2__text {
  /* margin-top: 40px; */
  /* margin-bottom: 26px; */
}

.arrow {
  display: flex;
  align-items: flex-end;
  align-items: center;
  position: relative;
  width: 20px;
  height: 2px;
  margin-left: 10px;
}

.arrow span {
  position: relative;
  top: 1px;
  width: 13px;
  height: 1px;
  background-color: var(--btn-bg-color);
  left: -1px;
  display: block;
}

.arrow span::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: -3px;
  right: -1px;
  background-color: var(--btn-bg-color);
  transform: rotate(45deg);
  border-radius: 1.5px;
}

.arrow span::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: 3px;
  right: -1px;
  background-color: var(--btn-bg-color);
  transform: rotate(-45deg);
  border-radius: 1.5px;
}

/* --- МЫ В INSTAGRAM--- */

.inst {
  padding-top: 85px;
  background: url(/asset/img/inst/Group\ 251.svg);
  background-size: cover;
  overflow: hidden;
}

.inst__row1 {
  display: flex;
  align-items: center;
}

.inst__title {
  margin-right: 54px;
  font-size: 3.125rem;
}

.inst__icon {
  width: 86px;
  height: 86px;
}

.inst__row2 {
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inst__img {
  position: absolute;
  width: auto;
  height: 896px;
  left: 0;
  /* top: -64px; */
}

.inst__img img {
  width: auto;
  height: 896px;
}

.inst__cards {
  position: relative;
  display: flex;
  right: -158px;
  max-width: 1240px;
  margin-top: 64px;
}

.inst__card {
  margin: 15px 20px;
}

.inst__card img {
  width: 400px;
  border-radius: 10px;
}

.inst__btn {
  position: absolute;
  background: transparent;
  border: none;
  right: 0;
}

.inst__btn svg {
  width: 70px;
  height: 70px;
}

/* --- ПОДПИСАТЬСЯ НА НОВОСТИ И РАССЫЛКУ --- */

.subscribe {
  background: url(/asset/img/email/Group\ 253.svg);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.subscribe__container {
  display: flex;
  flex-direction: row;
}

.subscribe__col1 {
  margin-top: 299px;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
}

.subscribe__title {
  font-size: 3.125rem;
}

.subscribe__text {
  max-width: 757px;
  font-size: 1.5625rem;
}

.subscribe__form {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  background: var(--form-color);
  border-radius: 40px;
  margin-top: 60px;
}

.sub-form__input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 80px;
  padding-left: 60px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 130%;
}

.sub-form__btn {
  border: none;
  border-radius: 40px;
  height: 80px;
  width: 260px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px 53px;
  font-size: 1.5625rem;
}

.sub-text {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.sub-text p {
  color: var(--comment-color);
  font-weight: 500;
  font-size: 1rem;
  line-height: 130%;
}

.sub-text a {
  color: var(--btn-bg-color);
  font-weight: 500;
  font-size: 1rem;
  line-height: 130%;
  margin-left: 5px;
}

.subscribe__img {
  position: absolute;
  right: 0;
  top: inherit;
}

/* --- FOOTER --- */

.footer {
  margin-top: 189px;
  margin-bottom: 100px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  flex-shrink: 0;
}

/* --- DIALOG --- */

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  pointer-events: none;
}

.dialog_active {
  opacity: 1;
  pointer-events: auto;
}

.dialog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog__content {
  position: relative;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__group {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: 0;
}

.form__group:last-child {
  margin-bottom: 0;
}

.form__input {
  border: none;
  width: 100%;
  padding: 23px 60px;
  font-size: 1.25rem;
  line-height: 120%;
  border-radius: 5px;
  background: #F6F6F6;
}

.form__input::placeholder {
  color: #C9C9C9;
}

.dialog__img {
  position: absolute;
  top: -43px;
  left: 0;
  width: 541px;
  height: 443px;
}

.dialog__img img {
  width: auto;
  height: 100%;
}

/* РЕГИСТРАЦИЯ */

.reg-col {
  display: flex;
  flex-direction: column;
}

.dialog-reg__col1 {
  align-items: center;
  justify-content: space-between;
  background-color: var(--btn-bg-color);
  padding: 423px 30px 60px 30px;
  max-width: 400px;
  border-radius: 30px 0px 0px 30px;
  height: 100%;
}

.reg-col__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.reg__title2 {
  font-weight: 900;
  font-size: 2.1875rem;
  line-height: 125%;
  color: var(--ligth-bg-text-color);
}

.reg-text2 {
  color: var(--ligth-bg-text-color);
  font-size: 1.5625rem;
  line-height: 116%;
}

.reg-btn2 {
  width: 100%;
  padding: 20px 135px;
  border: 2px solid #FFFFFF;
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 116%;
}

.dialog-reg__col2 {
  align-items: center;
  justify-content: space-around;
  padding: 18px 150px 62px 150px;
  max-width: 980px;
  border-radius: 0px 30px 30px 0px;
  background: var(--ligth-bg-text-color);
  height: 100%;
}

.reg__logo {
  flex-shrink: 0;
}

.reg__logo img {
  height: 72px;
}

.reg__title {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 125%;
}

.reg__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  text-align: center;
  max-width: 593px;
}

.reg-btn {
  padding: 20px 215px;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 120%;
}

.dialog__close {
  position: absolute;
  top: 50px;
  right: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.dialog__close span {
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
}

.dialog__close span::before,
.dialog__close span::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--base-text-color);
  content: '';
}

.dialog__close span::before {
  transform: rotate(45deg);
}

.dialog__close span::after {
  transform: rotate(-45deg);
}

.dialog__close:hover span::before,
.dialog__close:hover span::after {
  background-color: var(--base-text-color);
}



@media (max-width: 1349px) {
  .h1 {
    font-size: 3.5rem;
  }

  .h2 {
    font-size: 2.1875rem;
  }

  .h3-1 {
    font-size: 1.125rem;
  }

  .h3-2 {
    font-size: 1.3125rem;
  }

  .text {
    font-size: 1.125rem;
  }

  .container {
    max-width: 1181px;
  }

  .btn {
    border-radius: 3px;
    font-size: 1.125rem;
  }

  .select {
    border-radius: 4px;
    border: 0.7px solid var(--btn-bg-color);
  }

  .header__row {
    padding: 21px 0 60px 0;
  }

  .logo {
    height: 80px;
  }

  .nav {
  font-size: 1.125rem;
}

  .menu__item {
    margin-right: 66px;
  }

  .menu__item:last-child {
    margin-right: auto;
  }

  .menu__link {
    font-size: 1.125rem;
    line-height: 120%;
  }

  .function__btn {
    margin-right: 40px;
  }

  .function__btn:last-child {
    margin-right: 0;
  }

  .function__btn svg {
    height: auto;
    width: 22px;
  }

  .search__form {
    width: 880px;
  }

  .search__input {
    height: 42px;
    padding-left: 72px;
    font-size: 1rem;
  }

  .search__btn svg {
    height: 22px;
    width: 22px;
  }

  .first-screen__bg {
    width: 620px;
    height: 1116px;
  }

  .first-screen__ellipse svg {
    margin-left: 20px;
    height: 14px;
    width: 14px;
  }

  .first-screen__title {
    max-width: 680px;
    margin-top: 23px;
    margin-bottom: 40px;
  }

  .first-screen__text {
    margin-top: 40px;
    margin-bottom: 60px;
    max-width: 466px;
  }

  .first-screen__btn {
    max-width: 283px;
    max-height: 56px;
    padding: 15px 0;
    font-size: 1.3125rem;
  }

  .first-screen__img {
    width: 636px;
  }

  .col2 {
    max-width: 662px;
  }

  .col3 {
    margin-left: 562px;
  }

  .products__bg {
    width: 355px;
    height: 955px;
  }

  .products {
    margin-top: 201px;
  }

  .products__title {
    margin-bottom: 62px;
  }

  .products-card {
    width: 280px;
    height: 381px;
    padding: 50px 23px 104px 23px;
    border-radius: 14px;
  }

  .products-card a {
    padding: 10px 86px;
  }

  .products-card figure>img {
    max-height: 196px;
    max-width: 188px;
  }

  .card__title {
    font-size: 1.125rem;
  }

  .products-card:hover h3 {
    font-size: 1.3125rem;
    transform: translateY(-34px);
  }

  .discounts {
    margin-top: 30px;
  }

  .discounts__decor {
    width: 248px;
    height: 477px;
    top: 1200px;
  }

  .discounts__text {
    max-width: 784px;
  }

  .discount-row {
    column-gap: 40px;
  }

  .discounts-cards {
    column-gap: 15px;
  }

  .discount-card {
    margin-top: 54px;
    width: 280px;
    padding: 14px 25px 37px 25px;
    border-radius: 14px;
  }

  .discount-card__icon {
    top: -24px;
    width: 50px;
    height: 50px;
  }

  .discount-card__select {
    margin-top: 14px;
    padding: 4px 12px;
    max-width: 93px;
    max-height: 23px;
    font-size: 0.75rem;
  }

  .discount {
    font-size: 0.75rem;
  }

  .discount-card__img {
    width: 120px;
    height: 218px;
  }

  .inf__row1 {
    width: 94px;
    height: 18px;
  }

  .inf__row3 {
    width: 89px;
    height: 13px;
  }

  .inf__rating {
    margin-right: 6px;
    font-size: 0.875rem;
  }

  .inf__comment {
    font-size: 0.625rem;
  }

  .inf__row4 p {
    font-size: 0.75rem;
  }

  .inf__row4 svg {
    width: 88px;
    height: 7px;
  }

  .discount-card__title {
    margin-top: 25px;
    font-size: 1.125rem;
  }

  .discount-card__text {
    margin: 8px 47px 0 0;
    font-size: 0.75rem;
  }

  .discount-card__price {
    margin-top: 1px;
  }

  .discount-card__price1 {
    font-size: 1.125rem;
  }

  .discount-card__price2 {
    font-size: 1.5rem;
  }

  .discount-card__btn {
    width: 125px;
    height: 33px;
    font-size: 0.75rem;
    padding: 9px 33px;
  }

  .discounts-btn__left {
    margin-right: 41px;
  }

  .discounts-btn__right {
    margin-left: 41px;
  }

  .discounts-btn__left svg,
  .discounts-btn__right svg {
    width: 49px;
    height: 49px;
  }

  .discounts-cards__more {
    margin-top: 40px;
  }

  .discounts-cards__more a {
    font-size: 0.875rem;
  }

  .benefits {
    margin-top: 59px;
  }

  .benefits__title {
    max-width: 413px;
    font-size: 2.1875rem;
    margin-bottom: 57px;
  }

  .benefits__img {
    max-width: 534px;
  }

  .benefits__row {
    max-width: 413px;
  }

  .benefits__icon {
    margin-right: 30px;
  }

  .benefits__icon svg {
    width: 60px;
    height: 60px;
  }

  .benefit-title {
    font-size: 1.3125rem;
  }

  .benefits__text {
    max-width: 323px;
    font-size: 1.125rem;
  }

  .coffee-roasting {
    padding: 151px 0 128px 0;
  }

  .coffee-roasting__text {
    margin-top: 69px;
    max-width: 882px;
  }

  .coffee-roasting__btn {
    margin-top: 70px;
  }

  .coffee-roasting__btn a {
    padding: 15px 48px;
  }

  .news {
    margin-top: 25px;
  }

  .news-cards {
    margin-top: 44px;
  }

  .news__more a {
    font-size: 0.875rem;
  }

  .news-card {
    max-height: 283px;
    border-radius: 14px;
  }

  .type1 {
    width: 680px;
  }

  .news-card__col1 {
    border-radius: 14px 0 0 14px;
  }

  .news-card__col2 {
    padding: 33px 55px 20px 60px;
  }

  .news-card__title {
    font-size: 1.125rem;
  }

  .news-card__text p {
    font-size: 0.875rem;
  }

  .news-card__more a {
    font-size: 0.875rem;
  }

  .news-card__more {
    max-width: 150px;
  }

  .type2 {
    width: 480px;
    padding: 50px 97px 42px 80px;
  }

  .type2__text {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .arrow {
    margin-left: 8px;
  }

  .arrow span {
    top: 1px;
    width: 9px;
  }

  .arrow span::after {
    width: 4px;
    top: -1px;
  }

  .arrow span::before {
    width: 4px;
    top: 1px;
  }

  .inst {
    padding-top: 52px;
  }

  .inst__title {
    margin-right: 30px;
    font-size: 2.1875rem;
  }

  .inst__icon {
    width: 60px;
    height: 60px;
  }

  .inst__row2 {
    margin-top: 52px;
  }

  .inst__img {
    height: 632px;
  }

  .inst__img img {
    height: 632px;
  }

  .inst__cards {
    right: -118px;
  }

  .inst__card img {
    width: 270px;
    border-radius: 8px;
  }

  .inst__btn svg {
    width: 49px;
    height: 49px;
  }

  .subscribe__col1 {
    margin-top: 213px;
    max-width: 779px;
  }

  .subscribe__title {
    font-size: 2.1875rem;
  }

  .subscribe__text {
    max-width: 536px;
    font-size: 1.125rem;
  }

  .subscribe__form {
    width: 779px;
    border-radius: 28px;
    margin-top: 38px;
  }

  .sub-form__input {
    height: 57px;
    padding-left: 40px;
    border-radius: 28px;
    font-weight: 500;
    font-size: 1.125rem;
  }

  .sub-form__btn {
    border-radius: 28px;
    width: 179px;
    height: 57px;
    padding: 18px 33px;
    font-size: 1.125rem;
  }

  .sub-text p {
    font-size: 0.75rem;
  }

  .sub-text a {
    font-size: 0.75rem;
    margin-left: 3px;
  }

  .footer {
    margin-top: 138px;
    margin-bottom: 70px;
  }

  .form__group {
    margin-bottom: 15px;
  }

  .form__group:last-child {
    margin-bottom: 0;
  }

  .form__input {
    padding: 16px 30px;
    font-size: 0.875rem;
    border-radius: 4px;
  }

  .dialog__img {
    top: -9px;
    width: 326px;
    height: 216px;
  }

  .dialog-reg__col1 {
    padding: 301px 23px 47px 23px;
    max-width: 283px;
    border-radius: 21px 0px 0px 21px;
  }

  .reg__title2 {
    font-size: 1.5rem;
  }

  .reg-text2 {
    font-size: 1.125rem;
  }

  .reg-btn2 {
    padding: 15px 106px;
    border: 4px solid #FFFFFF;
    font-size: 1.125rem;
  }

  .dialog-reg__col2 {
    padding: 14px 97px 42px 117px;
    max-width: 694px;
    border-radius: 0px 21px 21px 0px;
  }

  .reg__logo img {
    height: 51px;
  }

  .reg__title {
    font-size: 1.75rem;
  }

  .reg__text {
    font-size: 0.875rem;
    max-width: 420px;
  }

  .reg-btn {
    padding: 14px 149px;
    font-size: 1.125rem;
  }

  .dialog__close {
    top: 35px;
    right: 35px;
    width: 18px;
    height: 18px;
  }

  .dialog__close span {
    width: 25px;
  }
}
