@font-face{
  font-family: 'Gilroy Light';
  src: url(/asset/fonts/Gilroy-Light.woff2) format('woff2'), url(/asset/fonts/Gilroy-Light.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url(/asset/fonts/Gilroy-ExtraBold.woff2) format('woff2'), url(/asset/fonts/Gilroy-ExtraBold.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --base-text-color: #000000;
  --ligth-bg-text-color: #FFFFFF;
  --btn-bg-color: #F9B300;
  --bg-select-color: #FFF7E1;
  --btn-hover-text: #E2A300;
  --form-color:#F9F9F9;
  /* --: #C4C4C4
  --: ##FCFCFC
  --: ##F3F3F3
  --: ##C9C9C9 */
}
